.App {
  text-align: center;
}

.app-container{
  background-image: url('../public/Netflix-backgorund.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.page-container{
  display: flex;
  flex-flow: column;
  height: 100vh;
}
